# Node
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log

# Build output
dist/
build/
out/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local
.env.*.local

# Misc
*.log
coverage/